<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/assets/anil.jpg" id="logo" style="border-radius: 96px;-moz-border-radius: 96px;-webkit-border-radius: 96px;" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Full-time software person, and smalltime filmmaker/photographer, and recently a dad :).</p><p>I'm the CTO and co-founder at <a href="https://www/kalvium.com">Kalvium</a>. Previously I've worked at Google & Hackerrank.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
